@charset "UTF-8";

.site {
    max-width: auto;
}

.hidden{
    display: none;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    text-align: start;
    
}

body{
    font-family: 'Rubik',Arial, Helvetica, sans-serif;
    font-weight: 900;
}

h2 {
    font-weight: 900;
    font-family: "Rubik",Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: rgb(44, 43, 43);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

h3{
    font-weight: 700;
    font-family: "Rubik",Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(45, 88, 105);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
p{
    color: rgb(36, 36, 36);
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}

.dropcap {
    font-size: 40px;
    font-weight: 400;
    float: left;
    margin: 0px 2px 0px 0px;
}

.floatImgleft{
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-right: 10px;
    
}
.floatImgright{
    float: right;
    justify-content: space-around;
    margin-right: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;

    
}



#imgblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%; 
    row-gap: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

figure, figcaption {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

figcaption{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    color: black;
}
